<button class="btn btn-primary" (click)="open(content)" style="margin-bottom: 20px">Agregar</button>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Anime</th>
    <th scope="col">A&ntilde;o de Lanzamiento</th>
    <th scope="col">Fecha de Creaci&oacute;n</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let anime of animes">
    <th scope="row">{{ anime.id }}</th>
    <td>{{ anime.nombre }}</td>
    <td>{{ anime.anio}}</td>
    <td>{{ anime.fechaCreacion }}</td>
    <td><button class="btn btn-success" (click)="cargarAnime(anime, content)">Editar</button></td>
    <td><button class="btn btn-danger" (click)="mostrarVentanaEliminar(anime)">Eliminar</button></td>
  </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="consultarAnimes()">
  </ngb-pagination>

  <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="consultarAnimes()">
    <option [ngValue]="2">2 items per page</option>
    <option [ngValue]="4">4 items per page</option>
    <option [ngValue]="6">6 items per page</option>
  </select>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Formulario de Animes</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form #formAnime="ngForm" (ngSubmit)="guardarAnime(formAnime?.value)">
        <div class="modal-body">
            <div class="form-group">
            
                <label for="txtNombre">Nombre: *</label>
                <input id="txtNombre" name="nombre" class="form-control" [(ngModel)]="anime.nombre" #nombre="ngModel">
            
            </div>

            <div class="form-group">
            
                <label for="txtAnioLanzamiento">A&ntilde;o de Lanzamiento: *</label>
                <input id="txtAnioLanzamiento" name="anio" class="form-control" [(ngModel)]="anime.anio" #anio="ngModel">
            
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="button" class="btn btn-danger" (click)="modal.close()">Cancelar</button>
        </div>
    </form>

  </ng-template>